# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
#288root = true

[*]
#77insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.lua]
#499end_of_line = lf
#93charset = utf-8
#505indent_style = space
#44indent_size = 2

[*.ps1]
#84end_of_line = crlf

[docs/**.md]
#79indent_style = space
indent_size = 4

[mkdocs.yml]
#501indent_style = space
#484indent_size = 2
